# Shoelabers Supabase Config (Opsional jika ingin override default di code)
VITE_SUPABASE_URL=https://tcjgqyytzpmicuribqok.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mZr4c4JL4-15JtofSX6vQw_x5Gc6-aQ
